html,
body {
  hyphens: auto;
  scroll-behavior: smooth;
  @apply scroll-pt-80 md:scroll-pt-120;
  @apply antialiased bg-white text-brown-ci font-serif font-light;
}

::selection {
  @apply bg-red-ci text-gray-ci;
}

.selection-inverted ::selection {
  @apply bg-gray-ci text-red-ci;
}

address {
  @apply block not-italic;
}

small {
  font-size: inherit;
}

strong {
  font-weight: inherit;
}

.swiper-button-disabled {
  cursor: not-allowed;
}
