html,
body {
  hyphens: auto;
  scroll-behavior: smooth;
  @apply antialiased bg-white text-ci-brown;
}

address {
  @apply block not-italic;
}

small {
  font-size: inherit;
}

strong {
  font-weight: inherit;
}

.swiper-button-disabled {
  cursor: not-allowed;
}
