.root {
  /* Elements */
  & strong {
    @apply italic;
  }

  & h2,
  & h3 {
    @apply font-fracture text-red-ci;
    @apply m-0;
  }

  & h2 {
    @apply text-26 md:text-29;
  }

  & h3 {
    @apply text-21 md:text-23;
  }

  & h4 {
    @apply italic;
  }

  & ul {
    list-style: "- " inside;
  }

  & a {
    @apply transition-colors hover:text-red-ci;
  }

  /* Spacing */
  /* TODO */
  & :is(p, address, ul, table, h2) {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  & :is(h2, h3, h4, br) + :is(p, address, ul, table) {
    margin-top: 0;
  }

  & h2 {
    @apply mt-40 md:mt-60 lg:mt-112;
  }

  /* General */
  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  & a {
    overflow-wrap: anywhere;
  }
}

.size-base {
  @apply text-base md:text-20 xl:text-21;
}

.size-lg {
  @apply text-21 md:text-26 xl:text-27;
}

.size-4xl {
  @apply text-35 md:text-45 xl:text-46;
}
